.item {
    border: 1px solid #ebebeb;
    background: #fafafa;
    border-radius: 12px;
    width: 248px;
    padding: 32px 24px 12px 24px;
    box-sizing: border-box;

    .image {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 16px;
        height: 180px;

        img {
            max-width: 100%;
            max-height: 100%;
        }
    }

    .name {
        font-size: 16px;
        margin-bottom: 6px;
    }

    .price {
        font-size: 16px;
        margin-bottom: 8px;
        font-weight: 700;
    }
}
