@import '../../../../../../../../../styles/breakpoints.scss';

.tooltip {
    .overlay {
        position: absolute;
        background-color: #fff7d9;
        z-index: 1;
        display: flex;
        padding: 16px;
        gap: 16px;

        width: 312px;
        right: -52px;
        top: 48px;

        @include tablet-up {
            left: 56px;
            width: 360px;
        }

        .image {
            flex: 0 0 30%;

            img {
                width: 100%;
            }
        }

        .details {
            flex: 0 0 70%;

            p {
                font-size: 14px;
                margin-bottom: 8px;

                &.title {
                    font-weight: 700;
                }

                &.description {
                    margin-bottom: 16px;
                }
            }

            .key-features {
                display: grid;
                grid-template-columns: 40% 1fr;
            }
        }
    }
}
