@import '../../../../../../../../../styles/breakpoints.scss';

.tooltip {
    .overlay {
        position: absolute;
        background-color: #fff7d9;
        z-index: 1;
        display: none;
        padding: 16px;
        gap: 16px;
        flex-direction: column;
        width: 248px;
        top: 48px;
        box-sizing: border-box;
        right: -8px;

        &-visible {
            display: flex;
        }

        @include tablet-up {
            flex-direction: row;
            left: unset;
            right: -52px;
            max-width: unset;
            width: 360px;
        }

        @include small-desktop-up {
            top: 0;
            left: 56px;
        }

        &-invert-alignment {
            @include small-desktop-up {
                left: unset;
                right: 56px;
            }
        }

        .image {
            flex: 0 0 30%;
            height: 140px;

            img {
                max-width: 70%;
                max-height: 100%;
                margin: 0 auto;
                display: block;

                @include tablet-up {
                    max-width: 100%;
                }
            }
        }

        .details {
            flex: 0 0 70%;

            p {
                font-size: 14px;
                margin-bottom: 8px;

                &.title {
                    font-weight: 700;
                }

                &.description {
                    margin-bottom: 16px;
                }
            }

            .key-features {
                display: grid;
                grid-template-columns: 40% 1fr;
            }
        }
    }
}
