@import '../../../../../styles/breakpoints.scss';

.header {
    background-color: #001f33;
    display: grid;
    grid-template-columns: repeat(3, calc(100% / 3));
    justify-content: space-between;
    align-items: center;
    height: 60px;

    .title {
        text-transform: uppercase;
        font-size: 14px;
        color: white;
        text-align: center;
    }
}

.list {
    background: url('/assets/bg.png') no-repeat 0 -45vh;

    min-width: calc(100vw - 60px);

    .shopName {
        font-size: 48px;
        text-align: center;
        color: #001f33;
        padding: 48px 0;
    }

    .items {
        display: grid;
        margin: 0 auto;
        column-gap: 24px;
        row-gap: 48px;

        width: calc(1 * 248px);
        grid-template-columns: 248px;

        @include tablet-up {
            width: calc(2 * 248px + 1 * 24px);
            grid-template-columns: 248px 248px;
        }

        @include small-desktop-up {
            width: calc(3 * 248px + 2 * 24px);
            grid-template-columns: 248px 248px 248px;
        }

        @include large-desktop-up {
            width: calc(4 * 248px + 3 * 24px);
            grid-template-columns: 248px 248px 248px 248px;
        }
    }
}
